# Aula 01 – Introdução a Linguagem

In [ ]:
#Esta linha imprime um texto.
print ("Olá mundo!")

In [ ]:
'''
Este é um comentario
longo do
Python.
'''
print("Olá mundo!")

In [ ]:
#print("Olá mundo!")

**Indentação**

In [ ]:
x = 0
y = 0
if x ==0:
  print("X é igual a 10.")
  print("X é igual a 10.")

if y == 0:
  print("X é igual a 10.")


  print("X é igual a 10.")

**Variáveis**

In [ ]:
idade = 32
peso = 65.4
nome = "José"
situacao = True
situacao2 = False

**Tipos de dados**

In [ ]:
idade = 32
peso = 65.4
nome = "José"
situacao = True
situacao2 = False

type(idade)
type(peso)
type(nome)
type(situacao)

# Aula 02 - Manipulação de Dados

**Saída de dados**

In [ ]:
print("Olá mundo!")

In [ ]:
nome = "José"
idade = 30
peso = 65.4

print(nome)
print(idade)
print(peso)

In [ ]:
nome = "José"

print ("Meu nome é", nome, "e minha idade é", idade,".")

In [ ]:
print ('23','11','2023', sep='/')

In [ ]:
print ('2023','11','23', sep='-')

In [ ]:
print ('B','n','n','.', sep='a')

**Entrada de Dados**

In [ ]:
nome = input("Escreva seu nome: ")#String
idade = int(input("Escreva sua idade: "))#Inteiro
peso = float(input("Escreva seu peso: "))#Float

print(nome)
print(idade)
print(peso)

In [ ]:
#+, -, /, *, //, %
a = 4 
b = 4

print(a + b)#Adição
print(5 - 2)#Subtração
print(2 * 5)#Multiplicação
print(10 / 6)#Divisão
print(10 // 6)#Divisão Exata
print(10 % 3)#Resto

# Aula 03 - Estruturas de Condição

**Operadores de relação e condição**

In [ ]:
#Operadores relacionais 
#>, <, >=, <=

**O comando IF ELSE**

In [ ]:
numero = 11

if numero == 10:#True 
   print ("Este número é igual a 10!")
else:#False
   print ("Este número não é igual a 10!")

**O comando ELIF**

In [ ]:
numero = 8
if numero == 10:
   print ("Este número é igual a 10!")
elif numero == 11:
      print ("Este número é igual a 11!")
elif numero == 12:
        print ("Este número é igual a 12!")
elif numero == 13:
         print ("Este número é igual a 13!")
else:
          print ("Este número não é igual a 10, 11, 12 ou 13!")

# Aula 04 – Estruturas de controle de fluxo

**Laço while**

In [ ]:
i = 1
while (i<=10):
    print("O loop está rodando.....")
    print(i)
    i+=1

**Laço de repetição FOR**

In [ ]:
for i in "Python":
    print(i)

In [ ]:
num = [1,5,6,7]

for j in num:
    print(j)

**FOR RANGE**

In [ ]:
for i in range(10):
    print(i+1)

In [ ]:
for j in range (9, -1, -1):
    print(j)

**Break e Continue**

In [ ]:
#Break
for i in range(10):
   print (i)
   if (i == 5):
    break

In [ ]:
i = 0
while (i<10):
    i+=1
    if (i%2==0):#É par
        continue
    print(i)

# Aula 05 – Strings

**Introdução a Strings**

In [ ]:
nome = "Jose de Souza Magalhães"
nome2 = 'Jose de Souza Magalhães'
nome3 = '''
Está é uma String longa 
contendo informações sobre 
Python
'''

nome4 ="""
Está é outra string longa
contendo informações sobre 
Python
"""
print(nome)
print(nome2)
print(nome3)
print(nome4)

**Propriedade das Strings**

In [ ]:
l = 'lista de letras'
data = '15/09/1991'

#tamanho da string
tamanho = len(l)
print(tamanho)

#split da string
lista = l.split(" ")
print(lista)
lista2 = data.split("/")
print(lista2)

#substituição
print(l.replace(" de ", "#"))

**Fatiando Strings**

In [ ]:
#    012345
#    -6-5-4-3-2-1
nome ='python'
nova_string = nome [-2]
print(nova_string)

**Comparando Strings**

In [ ]:
print("a"=="b")
print("b"!="a")
print("a">"X")
print("a">"1")

In [11]:
for i in range(122):
     print(str(i) + "-" +chr(i))

0- 
1-
2-
3-
4-
5-
6-
7-
8
9-
10-

11-
12-
13-
14-
15-
16-
17-
18-
19-
20-
21-
22-
23-
24-
25-
26-
27-
28-
29-
30-
31-
32-
33-!
34-"
35-#
36-$
37-%
38-&
39-'
40-(
41-)
42-*
43-+
44-,
45--
46-.
47-/
48-0
49-1
50-2
51-3
52-4
53-5
54-6
55-7
56-8
57-9
58-:
59-;
60-<
61-=
62->
63-?
64-@
65-A
66-B
67-C
68-D
69-E
70-F
71-G
72-H
73-I
74-J
75-K
76-L
77-M
78-N
79-O
80-P
81-Q
82-R
83-S
84-T
85-U
86-V
87-W
88-X
89-Y
90-Z
91-[
92-\
93-]
94-^
95-_
96-`
97-a
98-b
99-c
100-d
101-e
102-f
103-g
104-h
105-i
106-j
107-k
108-l
109-m
110-n
111-o
112-p
113-q
114-r
115-s
116-t
117-u
118-v
119-w
120-x
121-y